@use "../../Styles/colors" as *;
@use "../../Styles/screen-sizes" as *;

#education {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .lazy-load-image-background {
        width: 100%;
    }

    .main-image {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border: 1px solid white;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .title-section {
        margin-bottom: 10px;

        .title {
            color: $primary-color;
        }
    }

    .awards-section {

        .awards-grid {
            display: grid;
            gap: 2.5%;
        }

        .award {
            border: 2px solid whitesmoke;
            border-radius: 20px;
            padding: 25px;
            box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 1);
            background-color: $main-background-light;

            .award-title {
                text-align: center;
                margin-bottom: 20px;
                color: $primary-color;
                text-wrap: balance;
            }

            .award-icon {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                color: $accent-color;
            }

            .award-description {
                text-align: center;
            }
        }
    }

    .courses-section {

        .title-section {

            .title {
                color: $primary-color;
            }
        }
    }


    // Media Queries

    @media(min-width: $laptop) {

        .awards-section {

            .awards-grid {
                grid-template-columns: repeat(3, 1fr);

                .award {
                    
                    .award-description {
                        text-align: left;
                    }
                }
            }
        }
    }
}