@use "../../../Styles/colors" as *;
@use "../../../Styles/screen-sizes" as *;

.project-listing {
    margin: 0 auto;

    .content-container {
        padding: 40px 0;
    }
    
    .content-layout {
        position: relative;
        display: grid;
        //grid-template-columns: auto max-content;
        align-items: start;
        gap: clamp(20px, 3%, 3%);
    }

    .project-navigation {
        @include background-tint(0.04);
        //display: flex;
        display: none;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem 1.5rem;
        position: sticky;
        top: 135px;
        right: 0;
        width: max-content;
        border-radius: .67rem;
        box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, .33);

        li {
            list-style-type: decimal;
            list-style-position: inside;
            font-size: 1rem;
            
            a {
                margin-left: .5rem;
                text-decoration: none;
            }
        }
    }

    .list-item-wrapper {
        position: relative;
    }

    .project-divider {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    // Media Queries

    @media(min-width: $tablet) {

        .content-container {
            //width: 75%;
        }
    }
    
    @media(min-width: $laptop-l) {
        .content-container {
            width: 85%;
        }

        .content-layout {
            grid-template-columns: auto max-content;
        }

        .project-navigation {
            display: flex;
        }
    }
    
    @media(min-width: $desktop) {
        .content-container {
            width: 75%;
        }
    }
    
    @media(min-width: $four-k) {
        .content-container {
            width: 50%;
        }
    }
}

