
$blue-100: #263EFA;
$blue-200: #2F68DE;
$blue-300: #40A0F5;
$blue-400: #2fB1DE;
$blue-500: #36F5FF;


// Split complementary pallette
$yellow-orange: #F5C540;
$orange: #F59240;
$blue-gray: #596875;
$brown: #5F4B3F;


$main-background-light: #2A2A2A;
$main-background: #222;
$main-background-dark: #1A1A1A;

$main-text-white: rgb(245, 245, 245);

$primary-header-color: $blue-300;
$secondary-header-color: $orange;