
$blue-palette-1: (
    100: #263EFA,
    200: #2F68DE,
    300: #40A0F5,
    400: #2fB1DE,
    500: #36F5FF,
    600: hsl(219, 100%, calc(77% / 1)),
);

$comp-palette-1: (
    100: #D49B4A,
    200: #597C94,
    300: #4A9DD4,
    400: #7F6E57,
    500: #484F54,
);

$muted-cyan: #5B9EA0;
$light-blue: #89CFF0;
$cool-gray-1: #9FA8A3;
$cool-gray-2: #B0BEC5;
$cool-bluegray: rgb(176, 190, 227);
$sage-green-1: #9DBA9D;
$sage-green-2: #8F9779;
$muted-pink: #D0A9AA;
$mauve: #9E7E7E;
$gold: #D4AF37;
$brass: #B5A642;

$sky-blue: #7EC8E3;

// Split complementary palette
$yellow-orange: #F5C540;
$orange: #F59240;
$orange-2: #df843a;
$blue-gray: #596875;
$brown: #5F4B3F;

$main-background-lighter: #2D2D2D;
$main-background-light: #282828;
$main-background: #1D1D1D;
$main-background-dark: #181818;
$main-background-darker: #121212;

$main-text-white: rgb(225, 225, 225);
$faded-text-white: rgba($main-text-white, 0.85);

$primary-color: map-get($blue-palette-1, 300);
$secondary-color: map-get($blue-palette-1, 600);
$accent-color: $cool-bluegray;



// Mixins

@mixin background-tint($opacity) {
    background-color: rgba(white, $opacity);
}

@mixin background-shade($opacity) {
    background-color: rgba(black, $opacity);
}