@import "colors.scss";

.relative-cover-panel {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .absolute-cover-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .white-glow-outline-panel {
    border: 2px solid $main-text-white;
    box-shadow: 1px 1px 10px 1px #888888;
    background-color: #111;
  }