@import "../../Styles/colors.scss";
@import "../../Styles/panels.scss";

#about {
    flex: 1;
    //padding: 80px 0;
    

    .content-section {
        padding: 150px 0;
    }

    .gradient-section {
        height: 50px;

        &.gradient-1 {
            background-image: linear-gradient($main-background, $main-background-dark);

            & + .content-section {
                background-color: $main-background-dark;
            }
        }

        &.gradient-2 {
            background-image: linear-gradient($main-background-dark, $main-background);
        }
    }

    .section-title {
        text-align: center;
        margin-bottom: 40px;
    }

    .profile-picture {
        margin-top: 20px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        
        background-size: cover;
        background-position: 50% 30%;
    }

    .intro-section {

        .content-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 20px 0;
        }

        .intro-text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 3.5rem;
            }
        }
    }

    .technologies-section {

        display: flex;
        flex-direction: column;
        gap: 80px;
        
        img {
            width: 100px;
            height: 100px;
        }

        .tech-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            justify-items: center;
            align-items: center;
            row-gap: 20px;
        }
    }

    .strengths-section {

        .cards-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5%;

            .strength-card {
                border: 2px solid whitesmoke;
                border-radius: 20px;
                min-height: 300px;
                padding: 25px;
                box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 1);
                background-color: $main-background-light;
                
                .card-title {
                    text-align: center;
                    margin-bottom: 20px;
                    color: $primary-color;
                }

                .card-icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;
                    color: $accent-color;
                }
            }
        }
    }

    .projects-section {

        .project-showcase {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3%;

            .project-card {
                border: 2px solid whitesmoke;
                border-radius: 20px;
                box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 1);
                background-color: $main-background-light;
                display: flex;
                flex-direction: column;
                
                .card-title {
                    text-align: center;
                    margin-bottom: 20px;
                    color: $primary-color;
                }

                .card-image {
                    position: relative;
                    border-bottom: 2px solid whitesmoke;
                    
                    img {
                        border-radius: 22px 22px 0 0;

                        width: 100%;
                        object-fit: cover;
                        aspect-ratio: 5/2;
                    }

                    .image-cover {
                        background-color: rgba(black, 0.8);
                        display: grid;
                        place-items: center;
                        border-radius: 22px 22px 0 0;
                    }
                }
                
                .card-content {
                    flex: 1;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 20px;
                }
            }
        }
    }

    .employment-section {

        .overview {
            text-align: center;
            margin-bottom: 40px;
        }
        
        .employment-history {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .employment-history-item {    
                @extend .light-background-outline-panel;
                
                .upper-row {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                .job-title {
                    color: $primary-color;
                }

                .company-name {
                    color: $accent-color;
                    text-align: right;
                }

                .timeline {
                    color: $accent-color;
                    text-align: right;
                }

                .responsibilities-header {
                    color: $secondary-color;
                }
            }
        }
    }

    .education-section {

        .content {
        }

        .left-column {
            float: left;
        }

        .logo {
            height: 250px;
            aspect-ratio: 1/1;
            border-radius: 0 0 50% 50%;
            margin-right: 30px;
        }

    }

    .ai-tools-section {

        img {
            border: 2px solid whitesmoke;
            border-radius: 20px;
        }
    }

    .contact-section {

        .contact-form-wrapper {
            @extend .light-background-outline-panel;
            width: 80%;
            margin: 0 auto;
        }
    }

    
}