@import "../../Styles/colors.scss";

#about {
    flex: 1;

    .intro-section {

        .content-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 175px 0;
        }

        .intro-text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 3.5rem;
            }
        }
    }

    .gradient-section {
        height: 200px;

        &.gradient-1 {
            background-image: linear-gradient($main-background, $main-background-dark);
        }

        &.gradient-2 {
            background-image: linear-gradient($main-background-dark, $main-background);
        }
    }

    .technologies-section {
        background-color: $main-background-dark;
        
        img {
            width: 100px;
            height: 100px;
        }
    }

    .strengths-section {
        padding-bottom: 100px;

        .section-title {
            text-align: center;
            margin-bottom: 40px;
        }

        .cards-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5%;

            .strength-card {
                border: 1px solid whitesmoke;
                min-height: 300px;
                padding: 25px;
                
                h2 {
                    text-align: center;
                    margin-bottom: 20px;
                }

                .strength-icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .profile-picture {
        margin-top: 20px;
        width: 300px;
        height: 300px;
        border: 2px solid white;
        border-radius: 50%;
        box-shadow: 1px 1px 10px 1px #888888;
        
        background-size: cover;
        background-position: 50% 30%;

        // img {
        //     width: 100%;
        //     height: 100%;
        // }
    }
}