@import "../../Styles/colors.scss";

#about {
    flex: 1;
    padding: 80px 0;

    .intro-section {

        .content-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 120px 0;
        }

        .intro-text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 3.5rem;
            }
        }
    }

    .gradient-section {
        height: 200px;

        &.gradient-1 {
            background-image: linear-gradient($main-background, $main-background-dark);
        }

        &.gradient-2 {
            background-image: linear-gradient($main-background-dark, $main-background);
        }
    }

    .technologies-section {
        background-color: $main-background-dark;
        padding: 60px 0;

        display: flex;
        flex-direction: column;
        gap: 80px;
        
        img {
            width: 100px;
            height: 100px;
        }

        .tech-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            justify-items: center;
            align-items: center;
            row-gap: 20px;
        }
    }

    .strengths-section {
        padding: 60px 0;

        .cards-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3%;

            .strength-card {
                border: 2px solid whitesmoke;
                border-radius: 20px;
                min-height: 300px;
                padding: 25px;
                box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 1);
                background-color: $main-background-light;
                
                .card-title {
                    text-align: center;
                    margin-bottom: 20px;
                    color: $primary-color-1;
                }

                .card-icon {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 15px;
                    color: $cool-gray-1;
                }
            }
        }
    }

    .section-title {
        text-align: center;
        margin-bottom: 40px;
    }

    .profile-picture {
        margin-top: 20px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        
        background-size: cover;
        background-position: 50% 30%;
    }
}