@import '../../Styles/colors.scss';

.main-header {
    position: relative;
    top: 0;

    img {
        width: 100%;
    }

    .header-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        border-width: 0 0 2px 0;

        .header-bar-contents {
            width: 82%;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;

            .title-group {
                display: flex;
                align-items: baseline;
                gap: 5px;
        
                .subtitle {
                    margin-left: .25rem;
                }
            }
        
            nav {
                display: flex;
                gap: 35px;
                align-items: center;
                
                .nav-list {
                    display: flex;
        
                    li {
                        margin: auto 10px;
                        font-size: 1.3rem;
                        font-weight: bolder;

                        a {
                            padding: 5px;
                            color: $main-text-white;
                            transition: all .2s linear;
                        }

                        &:hover {
                            a {
                                color: $blue-300;
                            }
                        }

                        &.active {

                            a {
                                color: $blue-300;
                            }
                        }
                    }
                }

                .contact-button {
                    display: flex;
                    border-radius: 40px;
                    font-size: 1.2rem;
                    padding: 6px 15px;
                    padding-bottom: 8px;
                }
        
            }
        }
    
    
    }
}
