@use '../../Styles/colors' as *;
@use '../../Styles/screen-sizes' as *;

.main-header {
    position: sticky;
    top: 0;
    z-index: 2;

    // buffer to prevent flickering gap while scrolling
    &:before {
        content: "";
        display: block;
        height: 4px;
        background: $main-background-darker;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    img {
        width: 100%;
    }

    .header-bar {
        box-sizing: border-box;
        min-height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-width: 0 0 2px 0;

        .header-bar-contents {
            width: 95%;
            display: flex;
            justify-content: center;

            .title-group {
                display: none;
                align-items: baseline;
                gap: 5px;

                .title {
                    font-weight: bold;
                }
        
                .subtitle {
                    display: none;
                    color: $accent-color;
                    margin-left: .25rem;
                }
            }
        
            nav {
                display: flex;
                gap: 15px;
                align-items: center;
                
                .nav-list {
                    display: flex;
                    gap: 15px;
        
                    li {
                        font-size: 1.25rem;
                        font-weight: bolder;

                        a {
                            padding: 5px;
                            color: $main-text-white;
                            transition: all .2s linear;
                            text-decoration: none;
                        }

                        &:hover {
                            a {
                                color: $primary-color;
                            }
                        }

                        &.active {

                            a {
                                color: $primary-color;
                            }
                        }
                    }
                }

                .contact-button {
                    display: flex;
                    align-items: center;
                    border-radius: 40px;
                    padding: 8px 15px;
                    
                    h1, h2, h3, h4, h5, h6 {
                        font-weight: bolder;
                        margin-bottom: 1px;
                    }
                }
        
            }

            .header-link-text {
                display: none;
            }

        }
    
    
    }

    // Media Queries

    @media(min-width: $tablet) {

        .header-bar {

            .header-bar-contents {

                .header-link-text {
                    display: inline-block;
                }
    
                .header-link-icon {
                    display: none;
                }
            }

        }
    }
    
    @media(min-width: $laptop) {

        .header-bar {

            .header-bar-contents {
                justify-content: space-between;

                .title-group {
                    display: flex;
                }
            }
        }
    }
    
    @media(min-width: $laptop-l) {

        .header-bar {

            .header-bar-contents {
                width: 90%;

                .title-group {

                    .subtitle {
                        display: block;
                    }
                }

                nav {
                    gap: 30px;
                }
            }
        }
    }
    
    @media(min-width: $desktop) {

        .header-bar {

            .header-bar-contents {
                width: 82%;
            }
        }
    }
    
    @media(min-width: $four-k) {
        
        .header-bar {

            .header-bar-contents {
                width: 65%;
            }
        }
    }
}

