@use "../../Styles/screen-sizes" as *;

.contact-form {
    display: grid;
    gap: clamp(30px, 3%, 3%);

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .send-button {
            display: flex;
            gap: 0.4rem;
            justify-content: center;
            align-items: center;
        }
    }

    .left-column, .right-column {
        background-color: rgba(grey, 0.05);
        border-radius: 10px;
        padding: .5em;
    }
    
    .right-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contact-methods {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: fit-content;
        flex: 1;

        .contact-method {
            display: flex;
            align-items: center;
            gap: 10px;
            width: fit-content;

            .contact-icon {
                display: none;
            }

            .contact-link-text {
                display: none;
            }

            &.location {
                display: none;
            }

            &:last-of-type {
                margin-top: auto;
            }
        }
    }

    // Media Queries

    @media(min-width: $mobile-l) {

        .left-column, .right-column {
            padding: 2em;
        }

        .contact-methods {

            .contact-method {

                .contact-icon {
                    display: var(--fa-display, inline-block);
                }

                .contact-link-icon {
                    display: none;
                }

                .contact-link-text {
                    display: inline-block;
                }

                &.location {
                    display: flex;
                }
            }
        }
    }

    @media(min-width: $laptop) {
        grid-template-columns: 3fr 2fr;
    }
}