@use "../../../../Styles/colors" as *;
@use "../../../../Styles/screen-sizes" as *;

.project-listing-item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        margin-bottom: 0.7rem;
    }

    .left-column, .right-column {
        display: flex;
        flex-direction: column;
    }

    .title-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .project-name {
        color: $primary-color;
        text-wrap: balance;
        text-align: center;
    }

    .section-header {
        color: $primary-color;
        text-align: center;
    }

    .main-image {
        object-fit: cover;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
    }

    .button-links {
        display: flex;
        gap: 10px;

        > * {
            flex: 1;
        }
    }

    .view-code-button {
        display: inline-block;
        width: 100%;
    }

    .list-group-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .list-wrapper {
        display: flex;
        justify-content: center;
    }

    ul {
        padding-left: 1.5em;
        column-gap: 5em;
        max-width: fit-content;

        li {
            position: relative;
            padding-left: .25em;
            color: $faded-text-white;
            break-inside: avoid;
            max-width: fit-content;
        }
    }

    // Media Queries

    @media(min-width: $mobile-l) {

        .list-wrapper {
            justify-content: flex-start;
        
        }

        ul {
            columns: 2;
            flex: 1;
            max-width: 100%;

            li {
                max-width: 100%;
            }

        }
    }

    @media(min-width: $laptop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4%;
        grid-auto-rows: min-content;

        .project-name {
            text-align: left;
        }

        .section-header {
            text-align: left;
        }

        .left-column {
            display: flex;
            flex-direction: column;
            gap: 2.5%
        }

        ul {
            columns: 2;
            max-width: 100%;

            li {
                max-width: 100%;
            }
        }
    }
}