@import "../../../../Styles/colors.scss";

.project-listing-item {
        
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;

    p {
        margin-bottom: 0.7rem;
    }

    .left-column, .right-column {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .title-section {
        margin-bottom: 0.5rem;
    }

    .project-name {
        color: $primary-color;
    }

    .section-header {
        color: $primary-color;
    }

    .main-image {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .button-links {
        display: flex;
        gap: 10px;

        > * {
            flex: 1;
        }
    }

    .view-code-button {
        display: inline-block;
        width: 100%;
    }

    ul {
        padding-left: 1.5em;
        columns: 2;
        column-gap: 5em;

        li {
            position: relative;
            padding-left: .25em;
            color: $faded-text-white;
            break-inside: avoid;

            &::before {
                content: "";
                position: absolute;
                left: -1em;
                top: 50%;
                transform: translateY(-40%);
                width: 10px;
                height: 10px;
                border: 2px solid $primary-color;
                border-radius: 50%;
            }
        }
    }

}