@import "../../../../Styles/colors.scss";

.project-grid-item {
    display: block;
    color: inherit;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .img-wrapper {
        transition: transform 0.25s ease-out;
    }

    .img-opacity-cover {
        background-color: rgba(0, 0, 0, 0.75);
    }

    .text-wrapper {
        padding: 0 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        color: inherit;
        
        .img-wrapper {
            transform: scale(1.1);
        }
    }
}