@import '../src/Styles/colors.scss';

body {
  background-color: $main-background;
  color: $main-text-white;
}
  
a {
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.relative-cover-panel {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.absolute-cover-panel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styled panels
.white-glow-outline-panel {
  border: 2px solid $main-text-white;
  box-shadow: 1px 1px 10px 1px #888888;
  background-color: #111;
}


#App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}