body {
  background-color: #282c34;
  color: #ddd;
}

.App {
  > .header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px 10%;
    border: 1px solid #333;
    box-shadow: 1px 1px 10px 1px #888888;

    .title-group,
    nav {
      padding: 50px;
      border: 1px solid green;
    }

    .title-group {
      float: left;
    }

    nav {
      float: right;

      li {
        display: inline-block;
        list-style-type: none;
        margin: 0px 15px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #ddd;
}
