@import '../src/Styles/colors.scss';

body {
  background-color: $main-background;
  color: $main-text-white;
}
  
a {
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr.half-centered {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


#App {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

html {
  scrollbar-color: #222;
}

/* For WebKit-based browsers (Chrome, Safari) */
/* The track */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* The track */
::-webkit-scrollbar-track {
  background: $main-background-light; /* Set the color of the scrollbar track */
  //border-left: 1px solid grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar handle */
  //border-left: 1px solid grey;
}
